<div class="modal-header bg-green">
	<h1 class="modal-title ">
		Quản Lý Tài Liệu Đính Kèm : <strong>{{data.topic}}</strong>
	</h1>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<div class="list-group">
				<a ng-click="open(item)" ng-repeat="item in data.concept"
					ng-class="{active : item.id===select.id}" class="list-group-item">
					{{item.name}}<span class="fa fa-angle-right arrow"></span> <span
					class="badge badge-green">{{item.docs.length}}</span>
				</a>


			</div>

		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<div class="panel panel-info">
				<div class="panel-heading">Upload - Thêm tài liệu cho
					{{select.name}}</div>
				<div class="panel-body">
					<div class="input-group">
						<input type="text" ng-model="link" class="form-control"
							placeholder="http://..."> <span class="input-group-btn">
							<a ng-click="add()" class="btn btn-green">Thêm</a>
						</span>
					</div>
					</br>
					<form id="upload" action="docs/{{select.id}}" method="post" enctype="multipart/form-data" class="input-group">
						<input name="file" type="file" ng-model="file" class="form-control" 
							> <span class="input-group-btn">
							<a ng-click="upload()" class="btn btn-red">Tải lên</a>
						</span>
					</form>
					
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">Danh sách tài liệu -
					{{select.name}}</div>
				<div class="panel-body">
					<ul class="list-group list-group-sortable sortable ui-sortable">
						<li ng-repeat="item in select.docs"
							class="list-group-item helper-green ui-sortable-handle"><span
							class="fa fa-unsorted icon-fade"></span> {{item.url}} <a
							ng-click="del(item)" class="pull-right text-green icon-action"><span
								class="icon-call-out"></span></a></li>

					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="modal-footer">
	<a class="btn btn-o btn-green" ng-click="cancel()">Hoàn Thành</a>
</div>
